name: Builder
on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  Build-skeleton-suite:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - run: echo "CONTAINER=$(find container* -type f -printf "%f")" >> $GITHUB_ENV
      - run: echo "DROID=$(find DROID* -type f -printf "%f")" >> $GITHUB_ENV
      - name: Install Jython
        run: wget $JYTHON_URL -O jython_installer.jar; java -jar jython_installer.jar -s -d $HOME/jython
        env: 
          JYTHON_URL: 'http://search.maven.org/remotecontent?filepath=org/python/jython-installer/2.7.0/jython-installer-2.7.0.jar'
      - name: Install POI
        run: wget $URL -O poi.tar.gz; tar -xvf poi.tar.gz -C $HOME
        env: 
          URL: "https://archive.apache.org/dist/poi/release/bin/poi-bin-3.17-20170915.tar.gz"
      - run: sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 20F802FE798E6857
      - run: sudo add-apt-repository "deb https://www.itforarchivists.com/ buster main"
      - run: sudo apt-get update && sudo apt-get install siegfried
      - run: sudo apt-get install python2
      - run: git clone https://github.com/exponential-decay/skeleton-test-suite-generator.git
      - run: git clone https://github.com/exponential-decay/skeleton-container-test-suite-generator.git
      - run: roy harvest -home .
      - run: mkdir -p output/skeleton-suite/containers
      - run: cp ${{ env.CONTAINER }} output/
      - run: cp ${{ env.DROID }} output/
      - run: cp -rf pronom output/
      - run: mkdir -p skeleton-test-suite-generator/pronom-export/{fmt,x-fmt}
      - run: cp pronom/fmt* skeleton-test-suite-generator/pronom-export/fmt/
      - run: cp pronom/x-fmt* skeleton-test-suite-generator/pronom-export/x-fmt/
      - run: ( cd skeleton-test-suite-generator && python skeletongenerator.py ) 
      - run: cp -rf skeleton-test-suite-generator/skeleton-suite/fmt output/skeleton-suite/
      - run: cp -rf skeleton-test-suite-generator/skeleton-suite/x-fmt output/skeleton-suite/
      - run: cp ${{ env.CONTAINER }} skeleton-container-test-suite-generator/
      - run: cp ${{ env.DROID }} skeleton-container-test-suite-generator/
      - run: ( cd skeleton-container-test-suite-generator && $HOME/jython/bin/jython -Dpython.path=$HOME/poi-3.17/poi-3.17.jar skeletoncontainergenerator.py --con ${{ env.CONTAINER }} --sig ${{ env.DROID }} )
      - run: cp skeleton-container-test-suite-generator/skeleton-container-suite/zip/* output/skeleton-suite/containers/
      - run: cp skeleton-container-test-suite-generator/skeleton-container-suite/ole2/* output/skeleton-suite/containers/
      - run: ( cd output && zip -r ../pronom.zip . ) 
      - run: zip -sf pronom.zip
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
      - with:
          files: pronom.zip